* {
    margin: 0; 
    padding: 0; 
    text-decoration: none; 
    list-style: none; 
}

body { 
    font-family: "Inter", sans-serif;
}

/*navbar*/
header {
    height: 100vh; 
    width: 100vw; 
    background-image: url("Photos/soleil2.jpg"); 
    background-size: cover; 
}

.navbar {
    position: absolute; 
    padding: 50px; 
    display: flex; 
    justify-content: space-between;
    width: 100%; 
    box-sizing: border-box; 
    align-items: center;
}

.navbar a {
    color: white; 
}

.navbar .logo {
    width: 80px; 
}

.navbar .nav-links ul {
    display: flex; 
}

.navbar .nav-links ul li {
    margin: 0 25px; 
}

.navbar .nav-links ul li.active a {
    padding-bottom: 5px; 
    border-bottom: 3px solid #ffff; 
}

.navbar .menu-hamburger {
    display: none; 
    position: absolute; 
    font-size: 35px;
    top: 50px; 
    right: 50px;  
    color: white; 
}

@media screen and (max-width: 900px) {
    .navbar {
        padding: 0; 
    }

    .navbar .menu-hamburger {
        display: block; 
    }

    .navbar .logo {
        position: absolute; 
        top: 40px; 
        left: 30px; 
    }

    .nav-links {
        top: 0; 
        left: 0; 
        position: absolute; 
        background-color: rgba(255, 255, 255, 0.20); 
        backdrop-filter: blur(8px);
        width: 100%; 
        height: 100vh; 
        display: flex; 
        justify-content: center;
        align-items: center; 
        margin-left: -100%; 
        transition: all 0.5s ease; 
    }

    .mobile-menu.nav-links {
        margin-left: 0; 
    }

    .nav-links ul {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li {
        margin: 25px 0;
        font-size: 1.2em;  
    }
}

.texte-milieu {
    text-align: center;
    color: white; 
}

.presentation-texte {
    position: absolute; 
    left: 50%; 
    right: 50%; 
    top: 50%; 
    text-align: center;
    color: white; 
    font-weight: 300;
}

.texte-milieu {
    text-align: center;
    color: white; 
}

/*

.hero-section {
    background-image: url("Photos/soleil2.jpg");
    min-height: 80vh;
    padding: 50px 20px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-size: cover; 
    background-position: center;
}

.sous-section {
    min-height: 100vh;
    padding: 50px 20px; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    background-size: cover; 
    background-position: center;
    background-color: black;
}

.sous-section p {
    color: white; 
}

.sous-section a {
    text-decoration: none;
    color: white; 
    font-size: 4em; 
}

.nav-dans-la-page:hover {
    color: black; 
}

footer {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center;  
    padding: 50px; 
}

.logo-footer {
    color: black; 
    transition: transform 0.3s ease; ;
}

.logo-footer:hover {
    transform: scale(1.2);
}
*/

